@model MovieShop.Models.Db.Customer;

<td>@Model.Firstname @Model.Lastname</td>
<td>@Model.BillingAddress @Model.BillingCity</td>
<td>@Model.BillingZip</td>
<td>@Model.DeliveryAddress @Model.DeliveryCity</td>
<td>@Model.DeliveryZip</td>
<td>@Model.EmaillAddress</td>
<td>@Model.PhoneNo</td>
