@model MovieShop.Models.Db.Movie

<div class="card" style="width:260px;height:450px">
    <img class="card-img-top" src="@Model.TargetUrl" style="width:260px;height:250px">
    <div class="card-body" style="background-color:lightgray">
        <h6 class="fw-bold"><span style="color:mediumblue">@Model.Title</span></h6>
        <h6 class="fw-bold">@Model.Director </h6>
        <h6 class="fw-bold">@Model.Release_Year | @Model.Genre | @Model.Price SEK</h6>
    </div>
    <div class="card-footer" style="background-color:dimgrey; width:260px;height:70px">
        <a class="btn btn-black bg-gradient text-white" onclick="AddToCart(@Model.Id)">ADD TO CART</a>
    </div>
</div>


<style>
    .card {
        font-family: 'Comic Sans MS';
    }

    .card-footer {
        padding-left: 50px;
        padding-top: 12px;
    }
</style>



