@model MovieShop.Models.Db.Movie

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Director)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Genre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Release_Year)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Price)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
 
        <tr>
            <td>
                @Html.DisplayFor(modelItem => Model.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => Model.Director)
            </td>
            <td>
                @Html.DisplayFor(modelItem => Model.Genre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => Model.Release_Year)
            </td>
            <td>
                @Html.DisplayFor(modelItem => Model.Price)
            </td>

            <button>+</button>

            <button>-</button>

        </tr>

    </tbody>
</table>
