@model MovieShop.Models.Db.Movie

<div class="card" style="background-color:whitesmoke; width:300px; height:300px">
    <div class="card-header bg-secondary"><h3>@Model.Title</h3></div>
    <div class="card-body">
        <h6 class="fw-bold">Directed By : @Model.Director</h6>
        <h6 class="fw-bold">Release Year : @Model.Release_Year</h6>
        <h6 class="fw-bold">Genre : @Model.Genre</h6>
        <h6 class="fw-bold">Price : @Model.Price</h6>
        <img src="@Model.TargetUrl" width="50" height="50" />
    </div>
    <div class="card-footer">
      <a class="btn btn-secondary" onclick="AddToCart(@Model.Id)">Add to Cart</a> 
@*         <a class="btn btn-secondary" href="@Url.Action("AddToCart", new {id = Model.Id})">Add To Cart</a>
 *@    
</div>
</div>
<hr />

