@model MovieShop.Models.ViewModels.MoviesVM

 @{
    ViewData["Title"] = "Index";
} 
<br />
<div class="text-white bg-dark fw-bold" height="20px">
    Top 5 Newest Movies
    <div id="div2" class="align-content-md-end fw-bold">
        Popular Movie : @Model.PopularMovie.Title
    </div>
</div>
<br />
<div class="movie-section" height="250px">
    @foreach(var movie in Model.Top5Newest)
    {
        <div class="card" style="background-color:whitesmoke; width:230px; height:300px">
            <div class="card-header bg-secondary"><h6>@movie.Title</h6></div>
            <div class="card-body">
                <img src="@movie.TargetUrl" width="150" height="150" />

                <h6 class="fw-bold">Release Year : @movie.Release_Year</h6>

                <h6 class="fw-bold">Price : @movie.Price</h6>

            </div>
        </div>
    }
</div>
<br /><hr />

<div class="text-white bg-dark fw-bold" height="20px">Top 5 Oldest Movies
    <div id="div2" class="align-content-md-end fw-bold">
        Interstellar Movie Shop
    </div>
</div>
<br />
<div class="movie-section" height="300px">
    @foreach (var movie in Model.Top5Oldet)
    {
        <div class="card" style="background-color:whitesmoke; width:230px; height:300px">
            <div class="card-header bg-secondary"><h6>@movie.Title</h6></div>
            <div class="card-body">
                <img src="@movie.TargetUrl" width="150" height="150" />
               
                <h6 class="fw-bold">Release Year : @movie.Release_Year</h6>

                <h6 class="fw-bold">Price : @movie.Price</h6>
              
            </div>
        </div>
    }
</div>

<br />
<hr />
<div class="text-white bg-dark fw-bold" height="30px">
    Top 5 Chepest Movies
    <div id="div2"class="align-content-md-end fw-bold">
    Top Customer : 
    @Model.TopCustomer.Firstname @Model.TopCustomer.Lastname
    </div>
</div>
<br />
<div class="movie-section" height="300px">
    @foreach (var movie in Model.Top5Cheapest)
    {
        <div class="card" style="background-color:whitesmoke; width:230px; height:300px">
            <div class="card-header bg-secondary"><h6>@movie.Title</h6></div>
            <div class="card-body">
                <img src="@movie.TargetUrl" width="150" height="150" />
                <h6 class="fw-bold">Release Year : @movie.Release_Year</h6>

                <h6 class="fw-bold">Price : @movie.Price</h6>
               
            </div>
        </div>
    }

</div>
<br />
<hr />

<style>
    #div1{
        float:left;
    }
    #div2 {
        float:right;
        color:cyan;
        padding-right:3px;
    }
</style>